<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./addTodos.css">
</head>
<body>
	<div class="container">
  <form id="formList">

    <label for="fname">Title</label>
    <input type="text" id="title" name="tite" placeholder="Your title..">

    <label for="subject">Message</label>
    
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <button id="submit">ADD</button>
    <!-- <input type="submit" value="Add"> -->

  </form>
</div> 
<script src="../js/addTodos.js"></script>
</body>
</html>