<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

 
<div class="header">
  <button class="logo">+</button>
  <!-- <a href="/create" class="logo"></a> -->
  <a href="#" id="Name">Name</a>
  <div class="header-right">
    <a class="active" href="#" id="logout">LogOut</a>

  </div>
</div>


  <div class="row">
      <div class="left" style="background-color:#bbb;">
        <h2></h2>
        <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
        <ul id="myMenu">
          <!-- <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">jQuery</a></li>
          <li><a href="#">SQL</a></li>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li>
          <li><a href="#">Node.js</a></li> -->
      </ul>
  </div>
  
  <div class="right">
    <div class="navbar">
      <a class="active" href="#">Todos</a> 
      <a  class="active" href="#">Dons</a> 
      <a  class="active" href="#">Done</a> 
  </div>

  <div class="todo">

    <div class="todos"></div>

  <div class="dons"></div>
  <div class="done">
    <!-- <div class="card">
          <h1>Tailored Jeans</h1>
          <p class="price">$19.99</p>
          <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <select name="plan" id="plan">
              <option value="todos">todos</option>
              <option value="dons">dons</option>
              <option value="done">done</option>
           
          </select>
      </div> -->
      
  </div>
</div>


<script src="./js/main.js"></script>
<script src="./js/render.js"></script>

</body>
</html>
